<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.armin.sap.ds.builder.ID"
         name="SAP Design Studio Extension Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.armin.sap.ds.builder.DesignStudioProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.armin.sap.ds.builder.nature.ID"
         name="SAP Design Studio Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.armin.sap.ds.builder.DesignStudioProjectNature">               
         </run>
      </runtime>
      <builder
            id="com.armin.sap.ds.builder.ID">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SAP Design Studio Project Commands"
            id="com.armin.sap.ds.builder.project.commands.category">
      </category>
      <command
            name="Toggle Design Studio Project Nature"
            defaultHandler="com.armin.sap.ds.builder.commands.handlers.ToggleProjectNatureHandler"
            categoryId="com.armin.sap.ds.builder.project.commands.category"
            id="com.armin.sap.ds.builder.commands.toggle.nature">
      </command>
      <command
            categoryId="com.armin.sap.ds.builder.project.commands.category"
            defaultHandler="com.armin.sap.ds.builder.commands.handlers.OpenExtensionHandler"
            id="com.armin.sap.ds.builder.commands.extension.open"
            name="Open Extension">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.armin.sap.ds.builder.commands.toggle.nature"
               disabledIcon="images/project_16x16_disabled.png"
               icon="images/project_16x16.png"
               label="Toggle SAP Design Studio Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="com.armin.sap.ds.builder.nature.ID"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.armin.sap.ds.builder.toolbars.base_toolbar">
            <command
                  commandId="com.armin.sap.ds.builder.commands.toggle.nature"
                  disabledIcon="images/project_16x16_disabled.png"
                  icon="images/project_16x16.png"
                  tooltip="Toggles SAP Design Studio Nature of an project">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.armin.sap.ds.builder.nature.ID">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="sap-design-studio-ext-builder.separator1">
            </separator>
            <command
                  commandId="com.armin.sap.ds.builder.commands.extension.open"
                  icon="images/open_extension_16x16.png"
                  label="Open Extensions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.armin.sap.ds.builder.navigator.tree.ExtensionCollectionNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.armin.sap.ds.builder.project.navigator.view?after=additions">
         <menu
               label="New">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  disabledIcon="images/extension_16x16_disabled.png"
                  icon="images/extension_16x16.png"
                  label="Extension"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.builder.wizards.new_extension_wizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.armin.sap.ds.builder.navigator.tree.ExtensionCollectionNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  disabledIcon="images/component_16x16_disabled.png"
                  icon="images/component_16x16.png"
                  label="Component"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.builder.wizards.new_component_wizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.armin.sap.ds.builder.navigator.tree.GroupNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  disabledIcon="images/group_16x16_disabled.png"
                  icon="images/group_16x16.png"
                  label="Group"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.builder.wizards.new_group_wizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.armin.sap.ds.builder.navigator.tree.ExtensionNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="com.armin.sap.ds.builder.separator.new-open">
         </separator>
         <command
               commandId="com.armin.sap.ds.builder.commands.extension.open"
               icon="images/extension_16x16.png"
               disabledIcon="images/extension_16x16_disabled.png"
               label="Open Extensions"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.armin.sap.ds.builder.navigator.tree.ExtensionCollectionNode">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               label="Open File..."
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.project.openProject"
               icon="images/project_16x16.png"
               disabledIcon="images/project_16x16_disabled.png"
               label="Open Project..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.armin.sap.ds.builder.nature.ID">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator3">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator4">
         </separator>
         <command
               commandId="org.eclipse.ui.file.import"
               label="Import..."
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="Export..."
               style="push">
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator5">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
         </command>true
         <command
               commandId="org.eclipse.ui.file.close"
               label="Close"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.project.closeProject"
               label="Close Project"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.project.closeUnrelatedProjects"
               label="Close Unrelated Projects"
               style="push">
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator6">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.builder.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.armin.sap.ds.builder.commands.toggle.nature"
               disabledIcon="images/project_16x16_disabled.png"
               icon="images/project_16x16.png"
               label="Toggle SAP Design Studio Nature"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="com.armin.sap.ds.builder.commands.extension.open"
               disabledIcon="images/extension_16x16_disabled.png"
               icon="images/extension_16x16.png"
               label="Open Extensions"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.armin.sap.ds.builder.navigator.tree.ExtensionCollectionNode">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="com.armin.sap.ds.builder.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.armin.sap.ds.builder.view.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.builder.project.navigator.view"
            name="SAP Design Studio Project Navigator"
            inject="true">
      </view>
      <category
            name="SAP Design Studio"
            id="com.armin.sap.ds.builder.view.category">
      </category>
      <view
            name="SAP Design Studio Default View"
            inject="true"
            icon="images/quickview-icon.png"
            category="com.armin.sap.ds.builder.view.category"
            class="com.armin.sap.ds.builder.views.DesignStudioDefaultView"
            id="com.armin.sap.ds.builder.views.default">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.armin.sap.ds.builder.project.navigator.view">
         <includes>
            <contentExtension
                  pattern="com.armin.sap.ds.builder.project.navigator.dscontent">
            </contentExtension>
            <actionExtension
                  pattern="com.armin.sap.ds.builder.project.navigator.dsaction">
            </actionExtension>            
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.armin.sap.ds.builder.project.navigator.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.armin.sap.ds.builder.navigator.providers.NavigatorContentProvider"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.builder.project.navigator.dscontent"
            labelProvider="com.armin.sap.ds.builder.navigator.providers.NavigatorLabelProvider"
            priority="normal"
            name="Design Studio Navigator Content">         
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            	<instanceof
	                  value="com.armin.sap.ds.builder.navigator.tree.ProjectItemNode">
	            </instanceof>
            </or>	            
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="com.armin.sap.ds.builder.navigator.tree.ProjectItemNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.armin.sap.ds.builder.project.perspective">
         <view
               id="com.armin.sap.ds.builder.project.navigator.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.armin.sap.ds.builder.decorators.DesignStudioLabelDecorator"
            icon="icons/sample_decorator.gif"
            id="com.armin.sap.ds.builder.project.item.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="false">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="com.armin.sap.ds.builder.navigator.tree.IProjectItemNode">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/sample_decorator.gif"
            id="com.armin.sap.ds.builder.label.decorator"
            label="Design Studio Label Decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="com.armin.sap.ds.builder.navigator.tree.IProjectItemNode">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.armin.sap.ds.builder.editors.ExtensionEditor"
            contributorClass="com.armin.sap.ds.builder.editors.ExtensionEditorContributor"
            default="true"
            extensions="xml"
            icon="images/extension_28x28.png"
            id="com.armin.sap.ds.builder.editors.extension_editor"
            name="SAP Design Studio Extension Editor">
         <contentTypeBinding
               contentTypeId="com.armin.sap.ds.builder.contenttype.extension">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.armin.sap.ds.builder.editors.ComponentEditor"
            contributorClass="com.armin.sap.ds.builder.editors.ComponentEditorContributor"
            default="true"
            extensions="ztl"
            icon="images/component_28x28.png"
            id="com.armin.sap.ds.builder.editors.component_editor"
            name="Design Studio Component Editor">
         <contentTypeBinding
               contentTypeId="com.armin.sap.ds.sdk.contenttype.ztl">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.armin.sap.ds.builder.editors.DesignStudioGenericEditor"
            icon="images/project_28x28.png"
            id="com.armin.sap.ds.builder.editors.generic_editor"
            name="SAP Design Studio Generic Editor">
      </editor>
      <editor
            class="com.armin.sap.ds.builder.editors.DesignStudioExtensionsEditor"
            id="com.armin.sap.ds.builder.editors.DesignStudioExtensionsEditor"
            name="Extension Editor">
      </editor>
      <editor
            class="com.armin.sap.ds.builder.editors.DSEditorMainPage"
            id="com.armin.sap.ds.builder.editors.DSEditorMainPage"
            name="Main Page">
      </editor>
      <editor
            class="com.armin.sap.ds.builder.editors.ExtEditor"
            icon="images/extension_16x16.png"
            id="com.armin.sap.ds.builder.editors.ExtEditor"
            name="Extension Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.armin.sap.ds.builder.commands.toggle.nature"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SAP Design Studio Wizards"
            id="com.armin.sap.ds.builder.wizards.category">
      </category>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.project.DesignStudioNewProjectWizard"
            descriptionImage="images/project_28x28.png"
            finalPerspective="com.armin.sap.ds.builder.project.perspective"
            icon="images/project_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_project_wizard"
            name="SAP Design Studio Extension Project Wizard"
            project="true">
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.extension.ExtensionWizard"
            descriptionImage="images/extension_28x28.png"
            icon="images/extension_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_extension_wizard"
            name="SAP Design Studio Extension">
         <selection
               class="com.armin.sap.ds.builder.navigator.tree.ExtensionCollectionNode"
               name="SAP Design Studio ExtensionCollection">
         </selection>
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.component.ComponentWizard"
            descriptionImage="images/component_28x28.png"
            icon="images/component_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_component_wizard"
            name="SAP Design Studio Component">
         <selection
               class="com.armin.sap.ds.builder.navigator.tree.GroupNode"
               name="SAP Design Studio Group">
         </selection>
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.group.GroupWizard"
            descriptionImage="images/group_28x28.png"
            icon="images/group_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_group_wizard"
            name="SAP Design Studio Group">
         <selection
               class="com.armin.sap.ds.builder.navigator.tree.ExtensionNode"
               name="SAP Design Studio Extension">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SAP Design Studio Extension Builder"
            icon="images/project_28x28.png"
            class="com.armin.sap.ds.builder.perspectives.DesignStudioPerspectiveFactory"
            id="com.armin.sap.ds.builder.project.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SAP Design Studio Extension Builder"
            class="com.armin.sap.ds.builder.preferences.DesignStudioPreferencePage"
            id="com.armin.sap.ds.builder.preferences.design_studio_preferences">
      </page>
      <page
            category="com.armin.sap.ds.builder.preferences.design_studio_preferences"
            class="com.armin.sap.ds.builder.preferences.DesigStudioExtGroupsPage"
            id="com.armin.sap.ds.builder.preferences.design_studio_group_preferences"
            name="Groups">
      </page>
      <page
            category="com.armin.sap.ds.builder.preferences.design_studio_preferences"
            class="com.armin.sap.ds.builder.preferences.DesigStudioExtInheritancePage"
            id="com.armin.sap.ds.builder.preferences.design_studio_inheritance_preferences"
            name="Inheritance">
      </page>
      <page
            category="com.armin.sap.ds.builder.preferences.design_studio_preferences"
            class="com.armin.sap.ds.builder.preferences.DesigStudioExtTemplatesPage"
            id="com.armin.sap.ds.builder.preferences.design_studio_template_preferences"
            name="Templates">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.armin.sap.ds.builder.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Properties"
            nameFilter="*.*"
            class="com.armin.sap.ds.builder.properties.DesignStudioPropertyPage"
            id="com.armin.sap.ds.builder.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="com.armin.sap.ds.builder.contenttype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="contribution.xml"
            id="com.armin.sap.ds.builder.contenttype.extension"
            name="%content-type.name"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="sdkExtension">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="plugin.xml"
            id="com.armin.sap.ds.builder.contenttype.plugin"
            name="%content-type.name.0"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="plugin">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.properties"
            file-extensions="properties"
            file-names="build.properties"
            id="com.armin.sap.ds.builder.contenttype.build"
            name="%content-type.name.1"
            priority="normal">
         <describer
               class="com.armin.sap.ds.builder.describer.PropertiesDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.ztl"
            file-extensions="ztl"
            file-names="contribution.ztl"
            id="com.armin.sap.ds.builder.contenttype.ztl"
            name="%content-type.name.2"
            priority="normal">
         <describer
               class="com.armin.sap.ds.builder.describer.ZtlDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="target"
            file-names="build.target"
            id="com.armin.sap.ds.builder.contenttype.target"
            name="%content-type.name.3"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="target">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="html"
            file-names="additional_properties_sheet.html"
            id="com.armin.sap.ds.builder.contenttype.aps.html"
            name="%content-type.name.4"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="html">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.aps.js"
            file-extensions="js"
            file-names="additional_properties_sheet.js"
            id="com.armin.sap.ds.builder.contenttype.aps.js"
            name="%content-type.name.5"
            priority="normal">
         <describer
               class="com.armin.sap.ds.builder.describer.APSJsDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.css"
            file-extensions="css"
            id="com.armin.sap.ds.builder.contenttype.css"
            name="%content-type.name.6"
            priority="normal">
         <describer
               class="com.armin.sap.ds.builder.describer.CssDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.js"
            file-extensions="js"
            id="com.armin.sap.ds.builder.contenttype.js"
            name="%content-type.name.8"
            priority="normal">
         <describer
               class="com.armin.sap.ds.builder.describer.JsDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.armin.sap.ds.builder.service.factory.ProjectServiceFactory">
         <service
               serviceClass="com.armin.sap.ds.builder.service.IProjectService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="com.armin.sap.ds.builder.service.factory.ProjectFilesBuilderServiceFactory">
         <service
               serviceClass="com.armin.sap.ds.builder.service.IProjectFilesBuilderService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="com.armin.sap.ds.builder.service.factory.ProjectFilesReaderServiceFactory">
         <service
               serviceClass="com.armin.sap.ds.builder.service.IProjectFilesReaderService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="sap_ds_sdk_extensions_generator_plugin"
            name="SAP DS SDK Extensions Generator Plugin">
      </product>
   </extension>

</plugin>
