<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.armin.sap.ds.category"
            name="%category.name">
      </category>
      <wizard
            category="com.armin.sap.ds.category"
            class="com.armin.sap.ds.wizard.DesignStudioNewProjectWizard"
            finalPerspective="com.armin.sap.ds.sdk.project.perspective"
            icon="images/sap_text.png"
            id="com.armin.sap.ds.sdk.project.wizard"
            name="%wizard.name">
      </wizard>
      <wizard
            category="com.armin.sap.ds.category"
            class="com.armin.sap.ds.wizard.ExtensionNewFileWizard"
            descriptionImage="images/text-xml.png"
            icon="images/text-xml_16x16.png"
            id="com.armin.sap.ds.sdk.project.wizard.contributionfile"
            name="Contribution File">
      </wizard>
      <wizard
            category="com.armin.sap.ds.category"
            class="com.armin.sap.ds.wizard.ComponentNewFileWizard"
            descriptionImage="images/text-x-script.png"
            icon="images/text-x-script.png"
            id="com.armin.sap.ds.sdk.project.wizard.ztlfile"
            name="ZTL File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.armin.sap.ds.sdk.project.perspective.PerspectiveFactory"
            icon="images/sap_text.png"
            id="com.armin.sap.ds.sdk.project.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.armin.sap.ds.sdk.project.perspective">
         <view
               id="com.armin.sap.ds.ext.navigator.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.armin.sap.ds.sdk.project.natures"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.armin.sap.ds.sdk.project.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="images/project_open.png"
            id="com.armin.sap.ds.sdk.project.natureimage"
            natureId="com.armin.sap.ds.sdk.project.natures">
      </image>
   </extension>
   <extension
         id="com_armin_sap_ds_ext_ide_plugin"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="SAP Design Studio Ext Plugin">
         <property
               name="appName"
               value="SAP Design Studio Ext Plugin">
         </property>
      </product>
   </extension>
   <extension
         id="com.armin.sap.ds.sdk.contenttype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.armin.sap.ds.sdk.contenttype.contribution"
            name="%content-type.name"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="sdkExtension">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.armin.sap.ds.sdk.contenttype.plugin"
            name="%content-type.name.0"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="plugin">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.properties"
            file-extensions="properties"
            id="com.armin.sap.ds.sdk.contenttype.build"
            name="%content-type.name.1"
            priority="normal">
         <describer
               class="com.armin.sap.ds.contenttype.describer.PropertiesDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.ztl"
            file-extensions="ztl"
            id="com.armin.sap.ds.sdk.contenttype.ztl"
            name="%content-type.name.2"
            priority="normal">
         <describer
               class="com.armin.sap.ds.contenttype.describer.ZtlDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="target"
            id="com.armin.sap.ds.sdk.contenttype.target"
            name="%content-type.name.3"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="target">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="html"
            id="com.armin.sap.ds.sdk.contenttype.aps.html"
            name="%content-type.name.4"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="html">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.aps.js"
            file-extensions="js"
            id="com.armin.sap.ds.sdk.contenttype.aps.js"
            name="%content-type.name.5"
            priority="normal">
         <describer
               class="com.armin.sap.ds.contenttype.describer.APSJsDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.css"
            file-extensions="css"
            id="com.armin.sap.ds.sdk.contenttype.css"
            name="%content-type.name.6"
            priority="normal">
         <describer
               class="com.armin.sap.ds.contenttype.describer.CssDescriber">
         </describer>
      </content-type>
      <content-type
            base-type="com.armin.sap.ds.files.js"
            file-extensions="js"
            id="com.armin.sap.ds.sdk.contenttype.js"
            name="%content-type.name.8"
            priority="normal">
         <describer
               class="com.armin.sap.ds.contenttype.describer.JsDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.armin.sap.ds.ext.plugin.editors.DesignStudioExtensionEditor"
            contributorClass="com.armin.sap.ds.ext.plugin.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.png"
            id="com.armin.sap.ds.ext.plugin.editors.DesignStudioExtensionEditor"
            name="SAP Design Studio Extension Editor">
         <contentTypeBinding
               contentTypeId="com.armin.sap.ds.sdk.contenttype.contribution">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.armin.sap.ds.ext.plugin.preferences.DesigStudioExtPreferencePage"
            id="DesigStudioExtPreferencePage"
            name="SAP DS Extensions">
      </page>
      <page
            category="DesigStudioExtPreferencePage"
            class="com.armin.sap.ds.ext.plugin.preferences.DesigStudioExtOptionsPage"
            id="DesignStudioExtOptions"
            name="Options">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.armin.sap.ds.ext.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
