<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.armin.sap.ds.project.builder"
         name="SAP Design Studio Extension Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.armin.sap.ds.builder.DesignStudioProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.armin.sap.ds.builder.project.nature"
         name="SAP Design Studio Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.armin.sap.ds.builder.DesignStudioProjectNature">
         </run>
      </runtime>
      <builder
            id="com.armin.sap.ds.project.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SAP Design Studio Project Commands"
            id="com.armin.sap.ds.builder.project.commands.category">
      </category>
      <command
            name="Add/Remove Design Studio Project Nature"
            defaultHandler="com.armin.sap.ds.builder.commands.handlers.AddRemoveDesignStudioProjectNatureHandler"
            categoryId="com.armin.sap.ds.builder.project.commands.category"
            id="com.armin.sap.ds.builder.commands.addremove.nature">
      </command>
      <category
            name="SAP Design Studio Base Commands"
            id="com.armin.sap.ds.builder.base.commands.category">
      </category>
      <command
            name="Base Command"
            categoryId="com.armin.sap.ds.builder.base.commands.category"
            id="com.armin.sap.ds.builder.commands.base">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.armin.sap.ds.builder.commands.addremove.nature"
               icon="images/project_28x28.png"
               label="Disable SAP Design Studio Extension builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="com.armin.sap.ds.builder.nature.id"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.armin.sap.ds.builder.commands.base"
               icon="images/project_28x28.png"
               label="Enable SAP Design Studio Extension builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="com.armin.sap.ds.builder.nature.id"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="images/project_28x28.png"
               label="Basic Menu"
               mnemonic="M">
            <command
                  commandId="com.armin.sap.ds.builder.commands.base"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.armin.sap.ds.builder.toolbars.base_toolbar">
            <command
                  commandId="com.armin.sap.ds.builder.commands.base"
                  icon="images/project_28x28.png"
                  tooltip="Base Command">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="com.armin.sap.ds.builder.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.armin.sap.ds.builder.view.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.builder.project.navigator.view"
            name="SAP Design Studio Project Navigator">
      </view>
      <category
            name="SAP Design Studio"
            id="com.armin.sap.ds.builder.view.category">
      </category>
      <view
            name="SAP Design Studio Default View"
            inject="true"
            icon="images/quickview-icon.png"
            category="com.armin.sap.ds.builder.view.category"
            class="com.armin.sap.ds.builder.views.DesignStudioDefaultView"
            id="com.armin.sap.ds.builder.views.default">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.armin.sap.ds.builder.project.navigator.view">
         <includes>
            <actionExtension
                  pattern="com.armin.sap.ds.builder.project.navigator.action">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.armin.sap.ds.builder.project.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="com.armin.sap.ds.builder.project.navigator.ds_content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.armin.sap.ds.builder.navigator.providers.ContentProvider"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.builder.project.navigator.ds_content"
            labelProvider="com.armin.sap.ds.builder.navigator.providers.LabelProvider"
            name="Design Studio Navigator Content">
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.armin.sap.ds.builder.project.navigator.view">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.armin.sap.ds.builder.project.perspective">
         <view
               id="com.armin.sap.ds.builder.project.navigator.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="sap-design-studio-ext-builder.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SAP Design Studio Extension Editor"
            extensions="xml"
            icon="images/extension_28x28.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.armin.sap.ds.builder.editors.DesignStudioTextEditor"
            id="com.armin.sap.ds.builder.editors.extension_editor">
      </editor>
      <editor
            name="Design Studio Component Editor"
            extensions="ztl"
            icon="images/component_28x28.png"
            contributorClass="com.armin.sap.ds.builder.editors.ComponentEditorContributor"
            class="com.armin.sap.ds.builder.editors.ComponentEditor"
            id="com.armin.sap.ds.builder.editors.component_editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.armin.sap.ds.builder.commands.base"
            class="com.armin.sap.ds.builder.commands.handlers.BaseCommandHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.armin.sap.ds.builder.commands.base"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SAP Design Studio Extension"
            id="com.armin.sap.ds.builder.wizards.category">
      </category>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.project.DesignStudioNewProjectWizard"
            finalPerspective="com.armin.sap.ds.builder.project.perspective"
            icon="images/project_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_project_wizard"
            name="SAP Design Studio Extension Project Wizard">
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.extension.ExtensionWizard"
            descriptionImage="images/extension_28x28.png"
            icon="images/extension_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_extension_wizard"
            name="SAP Design Studio Extension">
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.component.ComponentWizard"
            descriptionImage="images/component_28x28.png"
            icon="images/component_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_component_wizard"
            name="SAP Design Studio Component">
      </wizard>
      <wizard
            category="com.armin.sap.ds.builder.wizards.category"
            class="com.armin.sap.ds.builder.wizard.group.GroupWizard"
            descriptionImage="images/group_28x28.png"
            icon="images/group_28x28.png"
            id="com.armin.sap.ds.builder.wizards.new_group_wizard"
            name="SAP Design Studio Group">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SAP Design Studio Extension Builder"
            icon="images/project_28x28.png"
            class="com.armin.sap.ds.builder.perspectives.DesignStudioPerspectiveFactory"
            id="com.armin.sap.ds.builder.project.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SAP Design Studio Extension Builder"
            class="com.armin.sap.ds.builder.preferences.DesignStudioPreferencePage"
            id="com.armin.sap.ds.builder.preferences.DesignStudioPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.armin.sap.ds.builder.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Properties"
            nameFilter="*.*"
            class="com.armin.sap.ds.builder.properties.DesignStudioPropertyPage"
            id="com.armin.sap.ds.builder.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
