<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.armin.sap.ds.ext.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.ext.navigator.view"
            inject="true"
            name="%view.name">
      </view>
      <category
            id="com.armin.sap.ds.ext.navigator.category"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.armin.sap.ds.ext.navigator.view">
      </viewer>      
      <viewerContentBinding
            viewerId="com.armin.sap.ds.ext.navigator.view">
         <includes>
            <contentExtension 
            		pattern="com.armin.sap.ds.ext.navigator.dsContent" />           
         </includes>
      </viewerContentBinding>      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">         
      <navigatorContent
      		activeByDefault="true"
            contentProvider="com.armin.sap.ds.ext.navigator.provider.ContentProvider"
            icon="images/sap_18.png"
            id="com.armin.sap.ds.ext.navigator.dsContent"
            labelProvider="com.armin.sap.ds.ext.navigator.provider.LabelProvider"
            priority="normal"
            name="%navigatorContent.name">
         <triggerPoints>         	
             <or>
                <instanceof
                      value="com.armin.sap.ds.ext.navigator.elements.ProjectItemNode">
                </instanceof>
                <instanceof
                      value="org.eclipse.core.resources.IResource">
                </instanceof>
             </or>            	
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="com.armin.sap.ds.ext.navigator.elements.ProjectItemNode">
            </instanceof></possibleChildren>
         <commonSorter
               class="com.armin.sap.ds.ext.navigator.sorter.CategorySorter"
               id="com.armin.sap.ds.ext.navigator.sorter.categorysorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="com.armin.sap.ds.ext.navigator.elements.ProjectItemNode">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>         
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.armin.sap.ds.ext.decorators.DesignStudioLabelDecorator"
            id="sap-design-studio-ext-navigator.decorator"
            label="SAP Design Studio Extension Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"            
            state="true">
         <enablement>
            <objectClass
                  name="com.armin.sap.ds.ext.navigator.elements.ProjectItemNode">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.armin.sap.ds.commands.category"
            name="Design Studio Commands">
      </category>
      <command
            categoryId="com.armin.sap.ds.commands.category"
            defaultHandler="com.armin.sap.ds.ext.navigator.commands.OpenExtensionCommand"
            id="com.armin.sap.ds.commands.extension.open"
            name="Open Extension">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.armin.sap.ds.ext.ui.toolbar.id">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="images/project_28x28.png"
                  label="SAP Design Studio Extension Project Wizard..."
                  style="push"
                  tooltip="ToolBar: Build new Sap Design Studio Extension Project using wizard">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.sdk.project.wizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.armin.sap.ds.sdk.project.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="images/extension_28x28.png"
                  label="Extension"
                  style="push"
                  tooltip="ToolBar: Create a new extension under selected project">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.sdk.project.wizard.extension">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.armin.sap.ds.sdk.project.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="images/component_28x28.png"
                  label="Component"
                  style="push"
                  tooltip="ToolBar: Create a new component under selected extension">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.sdk.project.wizard.component">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.armin.sap.ds.sdk.project.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.armin.sap.ds.ext.navigator.view?after=additions">
         <menu
               label="New">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="images/extension_28x28.png"
                  label="Extension"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.sdk.project.wizard.extension">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.armin.sap.ds.sdk.project.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="images/component_28x28.png"
                  label="Component"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.armin.sap.ds.sdk.project.perspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="newWizardId"
                     value="com.armin.sap.ds.sdk.project.wizard.component">
               </parameter>
            </command>
         </menu>
         <separator
               name="sap-design-studio-ext-navigator.separator2">
         </separator>
         <command
               commandId="com.armin.sap.ds.commands.extension.open"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               label="Open File..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.project.openProject"
               label="Open Project..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.e4.ui.importer.openDirectory"
               label="Open Projects from File System..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator3">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Cut"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator4">
         </separator>
         <command
               commandId="org.eclipse.ui.file.import"
               label="Import..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="Export..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator5">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.close"
               label="Close"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.project.closeProject"
               label="Close Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.project.closeUnrelatedProjects"
               label="Close Unrelated Projects"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sap-design-studio-ext-navigator.separator6">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.armin.sap.ds.sdk.project.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
