<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
      		allowMultiple="false"
            category="com.armin.sap.ds.ext.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="images/application-javascript.png"
            id="com.armin.sap.ds.ext.navigator.view"
            name="%view.name">
      </view>
      <category
            id="com.armin.sap.ds.ext.navigator.category"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="com.armin.sap.ds.ext.navigator.view#PopupMenu"
            viewerId="com.armin.sap.ds.ext.navigator.view"/>
      <viewerActionBinding
            viewerId="com.armin.sap.ds.ext.navigator.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.armin.sap.ds.ext.navigator.view">
         <includes>
            <contentExtension 
            		pattern="com.armin.sap.ds.ext.navigator.dsContent" />           
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">         
      <navigatorContent
      		activeByDefault="true"
            contentProvider="com.armin.sap.ds.ext.navigator.provider.ContentProvider"
            icon="images/nav.png"
            id="com.armin.sap.ds.ext.navigator.dsContent"
            labelProvider="com.armin.sap.ds.ext.navigator.provider.LabelProvider"
            priority="normal"
            name="%navigatorContent.name">
         <triggerPoints>
         	<!--<or>-->
           		<!--<instanceof
                 	 value="org.eclipse.core.resources.IWorkspaceRoot" /> -->
            	<instanceof
            		 value="org.eclipse.core.resources.IResource" />
            	<!--<instanceof
            			value="com.armin.sap.ds.ext.navigator.elements.ProjectElement" />-->
            <!--</or>-->
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="com.armin.sap.ds.ext.navigator.elements.ProjectElement">
            </instanceof></possibleChildren>
         <commonSorter
               class="com.armin.sap.ds.ext.navigator.sorter.CategorySorter"
               id="com.armin.sap.ds.ext.navigator.sorter.categorysorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="com.armin.sap.ds.ext.navigator.elements.ProjectElement">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>         
      </navigatorContent>
   </extension>

</plugin>
